@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #eae2e2;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px;
  transition: ease 0.4s;
  font-weight: 600;
}
header ul {
  padding-right: 12%;
}
.logo {
  font-size: 35px;
  color: white;
  padding-left: 12%;
}
.navbar {
  display: flex;
}
.navbar a {
  color: white;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}
.navbar a:hover {
  background: transparent;
  color: #7c7777;
}
#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 80px 10%;
}
.beranda {
  position: relative;
  height: 720px;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/bg1.png);
}

.home-text {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  color: white;
}
.home-text h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 3%;
}
.home-text .desc {
  margin-right: 65%;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
}
.tombol1 {
  background-color: transparent;
  border-radius: 5px;
  border: #fff solid;
  color: #fff;
  text-align: center;
  position: relative;
  transition: ease-in 0.3s;
  padding: 8px;
}
.tombol1 a {
  color: white;
  transition: ease-in 0.3s;
}
a {
  color: white;
}
.tombol1:hover {
  background-color: white;
  color: black;
}
.sec2 h1 {
  font-size: 38px;
}
.sec2 {
  color: #672626;
}
.sect2 {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect2 p {
  padding-top: 5%;
  width: 700px;
  font-size: 16px;
  font-weight: 500;
}
.sect2 img {
  height: 350px;
}
.tiga {
  margin-top: -2%;
  color: #672626;
}
.tiga h1 {
  font-size: 38px;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  background-color: transparent;
}
.tigacontainer {
  margin-top: 10%;
}
.idn {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.idn h1 {
  width: 300px;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
}
.tigacontainer h1 {
  padding-top: 27%;
}
.empat {
  color: #672626;
}
.empat h1 {
  font-size: 32px;
}
.h14 {
  text-align: center;
}
.list4 {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.isilist {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 300px;
}
.isilist img {
  width: 300px;
}
.lima {
  color: #672626;
  text-align: center;
}

/* footer */
footer {
  background-color: #672626;
  padding: 80px 10%;
  color: white;
}

.footer-containter {
  margin: auto;
}
.row {
  display: flex;
  color: white;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-col1 {
  width: 25%;
  padding: 0 50px 0 0;
}
.footer-col2 {
  width: 25%;
  padding: 10px 110px;
  text-align: center;
}
.footer-col2 i {
  margin: 2%;
  font-size: 30px;
  padding: 10px;
  width: 30px;
  border: 2px solid;
  border-radius: 100%;
  transition: 0.3s ease;
}
.footer-col2 i:hover {
  background-color: white;
  color: #000;
}
.footer-col3 {
  display: flex;
  width: 10%;
  padding: 0 10px;
  justify-content: right;
  color: white;
}
.footer-col3 ul {
  margin-right: -120px;
}
.footer-col3 ul li a {
  transition: 0.3s ease;
}
.footer-col3 ul li a:hover {
  color: black;
}
.footer-li {
  font-size: 30px;
}
