@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #eae2e2;
}
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px;
  transition: ease 0.4s;
  font-weight: 600;
}
header ul {
  padding-right: 12%;
}
.logo {
  font-size: 35px;
  color: #672626;
  padding-left: 12%;
}
.navbar {
  display: flex;
}
.navbar a {
  color: #672626;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}
.navbar a:hover {
  background: transparent;
  color: #fff;
}
#menu-icon {
  color: #672626;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 80px 10%;
}
.direct {
  margin-top: 2%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #672626;
  margin-right: 6%;
  color: #672626;
}
.direct a {
  color: #672626;
}

/* footer */
footer {
  background-color: #672626;
  padding: 80px 10%;
  color: white;
}

.footer-containter {
  margin: auto;
}
.row {
  display: flex;
  color: white;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-col1 {
  width: 25%;
  padding: 0 50px 0 0;
}
.footer-col2 {
  width: 25%;
  padding: 10px 110px;
  text-align: center;
}
.footer-col2 i {
  margin: 2%;
  font-size: 30px;
  padding: 10px;
  width: 30px;
  border: 2px solid;
  border-radius: 100%;
  transition: 0.3s ease;
}
.footer-col2 i:hover {
  background-color: white;
  color: #000;
}
.footer-col3 {
  display: flex;
  width: 10%;
  padding: 0 10px;
  justify-content: right;
  color: white;
}
.footer-col3 ul {
  margin-right: -120px;
}
.footer-col3 ul li a {
  transition: 0.3s ease;
}
.footer-col3 ul li a:hover {
  color: black;
}

a {
  color: white;
}
.topcont {
  margin-top: 2%;
}
.topcont h1 {
  font-size: 50px;
  color: #672626;
}
.topcont img {
  height: 450px;
  border-radius: 20px;
  border: 1px solid black;
}
.incont {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}
.incont img {
  width: 800px;
}
.bul {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  width: max-content;
  margin-bottom: 25%;
}
.num {
  display: flex;
  flex-direction: row;
}
.num img {
  border: none;
  width: 70px;
  height: 70px;
}
.num h2 {
  padding-top: 7%;
  padding-left: 10px;
  font-size: 18px;
  color: #672626;
}

.text {
  width: max-content;
  font-size: 14px;
  width: 100%;
  display: flex;
  margin-left: 3%;
  padding-top: 13px;
  padding-bottom: 13px;
}
.fact {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
.circle {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  border: 1px solid #672626;
}
.circle h1 {
  text-align: center;
}
.info {
  margin-top: 3%;
  font-size: large;
  text-align: justify;
}
.destination {
  margin-top: 5%;
}
.destination h1 {
  font-size: 32px;
}
.card {
  margin-top: 5%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.card1 {
  display: flex;
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 30px;
}
.card1 h1 {
  position: absolute;
  text-align: center;
  font-size: 20px;

  margin: 100px;
  color: white;
  margin-top: 80%;
  max-width: 100px;
}
.card1 img {
  border-radius: 30px;
  width: 300px;
  height: 400px;
  border: 1px solid #000;
}
.transport {
  margin-top: 10%;
}
.brown {
  color: #672626;
}
.transport h1 {
  font-size: 40px;
}
.satu {
  margin-top: 5%;
  margin-bottom: 3%;
}
.top {
  display: flex;
  flex-direction: row;
}
.top h2 {
  text-align: center;
  font-size: 40px;
  align-items: center;
  padding: 1px;
}
.top .circle {
  height: 60px;
  width: 60px;
}
.top h1 {
  font-size: 32px;
  padding-top: 8px;
  margin-left: 10px;
}
.satu p {
  text-align: justify;
  margin-top: 1%;
  margin-left: 6%;
}
.footer-li {
  font-size: 30px;
}
/* modal */
button {
  background-color: white;
  transition: 0.4s ease;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 2%;
  background-color: white;
  padding: 5px;
}
button:hover {
  background-color: rgb(146, 139, 139);
  color: white;
}
.modal-container {
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: #aea6a6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  box-shadow: 5px 5px black;
}
.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  width: 500px;
  max-width: 100%;
  background-color: white;
  padding: 30px 50px;
  border-radius: 15px;
}

.but {
  margin: 10px;
}
